.login-box {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.login-box p input {
    width: 245px;
    height: 45px;
    border-bottom: solid 1px #586062;
    font-size: 15px;
    outline-color: #addeff
}
.login-btn {
    width: 255px;
    height: 50px;
    font-size: 15px;
    background: #5dbbfa;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
}

